In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("BPIC12.csv")
df

,Case ID,Activity,Resource,Complete Timestamp,Variant,Variant index,(case) AMOUNT_REQ,concept:name,lifecycle:transition
0,173688,A_SUBMITTED-COMPLETE,112.0,2011/10/01 07:38:44.546,Variant 613,613,20000,A_SUBMITTED,COMPLETE
1,173688,A_PARTLYSUBMITTED-COMPLETE,112.0,2011/10/01 07:38:44.880,Variant 613,613,20000,A_PARTLYSUBMITTED,COMPLETE
2,173688,A_PREACCEPTED-COMPLETE,112.0,2011/10/01 07:39:37.906,Variant 613,613,20000,A_PREACCEPTED,COMPLETE
3,173688,W_Completeren aanvraag-SCHEDULE,112.0,2011/10/01 07:39:38.875,Variant 613,613,20000,W_Completeren aanvraag,SCHEDULE
4,173688,W_Completeren aanvraag-START,NaN,2011/10/01 18:36:46.437,Variant 613,613,20000,W_Completeren aanvraag,START
...,...,...,...,...,...,...,...,...,...
262195,214376,A_PARTLYSUBMITTED-COMPLETE,112.0,2012/03/01 07:51:17.423,Variant 2,2,15000,A_PARTLYSUBMITTED,COMPLETE
262196,214376,W_Afhandelen leads-SCHEDULE,112.0,2012/03/01 07:52:01.287,Variant 2,2,15000,W_Afhandelen leads,SCHEDULE
262197,214376,W_Afhandelen leads-START,11169.0,2012/03/01 17:26:46.736,Variant 2,2,15000,W_Afhandelen leads,START
262198,214376,A_DECLINED-COMPLETE,11169.0,2012/03/01 17:27:37.118,Variant 2,2,15000,A_DECLINED,COMPLETE
262199,214376,W_Afhandelen leads-COMPLETE,11169.0,2012/03/01 17:27:41.325,Variant 2,2,15000,W_Afhandelen leads,COMPLETE

In [6]:
class Index_encoding:
    pass

class aggregated_encoding:
    """
    aggregated_encoding class
    Author : Yeonsu Kim
    Date : 2022.12.28
    Description : empty_df, time_mean, join
    """

    def __init__(self, df, result):
        self.df = df
        self.result = result

    def empty_df(self):
        list_row = pd.unique(df['Case ID'])
        list_col = pd.unique(df['Resource'])

        empty_df = pd.DataFrame(index=list_row, columns=list_col)
        empty_df = empty_df.fillna(0)

        for _, row in df.iterrows():
            empty_df.loc[row['Case ID'], row['Resource']] += 1

        agg = empty_df
        return agg

    def time_mean(self):
        df['Complete Timestamp'] = pd.to_datetime(df['Complete Timestamp'], format='%Y/%m/%d %H:%M:%S.%f')
        time_mean = df.groupby(['Case ID'])['Complete Timestamp'].mean().to_frame()
        return time_mean

    def join(self):
        result = pd.concat([agg, time_mean, empty_df], axis=1, join='inner')
        return result

    def __str__(self):
        return ''.format(self.result)

def bucketing(df):
    pass

def drop_activity(df, n):
    trace_num = df['Case ID'].nunique()
    act = df['Activity'].value_counts()
    df = df.iloc[[i for i in range(len(df)) if df.iloc[i]['Activity'] not in act[-n:]]]
    return df

def model(df):
    
    models = {'Decision Tree' : DecisionTreeClassifier(), 'Random Forest' : RandomForestClassifier(), 'LightGBM' : LGBMClassifier(), 'Xgboost' : XGBClassifier()}
    
    def XGB(df):
        pass
    def DT(df):
        pass
    def RF(df):
        pass
    def LGBM(df):
        pass


params = {}

In [8]:
A = aggregated_encoding
A.empty_df(df)
# A.time_mean(df)
# A.join(df) <- error, could not find agg, time_mean, empty_df

,112.0,NaN,10862.0,10913.0,11049.0,10629.0,11120.0,10809.0,10912.0,11201.0,...,11269.0,10821.0,11289.0,10124.0,11299.0,11309.0,11300.0,11302.0,11319.0,11304.0
173688,4,5,5,2,4,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173691,4,12,5,0,4,0,4,10,0,0,...,0,0,0,0,0,0,0,0,0,0
173694,4,6,0,0,4,0,0,0,5,17,...,0,0,0,0,0,0,0,0,0,0
173697,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173700,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214364,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214367,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214370,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214373,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214376,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
class GeneticAlgorithmI():
    
    def InitialPopulation():

        rand_choice = {bucketing, encoding, drop_activity}
        
        bucketing = np.random.choice(1, 40)
        encoding = np.random.choice(Index_encoding, aggregated_encoding)
        drop_activity = np.random.choice(2, 4, 6, 8)


    def SelectPopulation():
        #.....np.argmax(fitness)
        pass

    def fitness(self, tot_score, failure_rate, tot_time):
        highest_acc_pop = np.argmax(tot_score)

        # fitness = (acc + (1-failure_rate) + time_cost + acc_decrease)/4
        tot_fitness = [round((tot_score[i] + (1-failure_rate[i]) + (max(tot_time)-tot_time[i])/(max(tot_time)-min(tot_time)) 
                   + (tot_score[i]-min(tot_score))/(max(tot_score)-min(tot_score)))/4, 2) for i in range(len(tot_score))]
        
        return tot_fitness

In [ ]:
# label = {'Activity' : 'O_ACCEPTED-COMPLETE'}

In [4]:
# read BPIC12.csv and Add label

df = pd.read_csv('BPIC12.csv')
df = df[['Case ID', 'Activity', 'Resource', 'Complete Timestamp']]
df['label'] = ""
df.loc[df['Activity'] == 'O_ACCEPTED-COMPLETE', 'label'] = '1'
df.loc[df['Activity'] != 'O_ACCEPTED-COMPLETE', 'label'] = '0'
df

,Case ID,Activity,Resource,Complete Timestamp
0,173688,A_SUBMITTED-COMPLETE,112.0,2011/10/01 07:38:44.546
1,173688,A_PARTLYSUBMITTED-COMPLETE,112.0,2011/10/01 07:38:44.880
2,173688,A_PREACCEPTED-COMPLETE,112.0,2011/10/01 07:39:37.906
3,173688,W_Completeren aanvraag-SCHEDULE,112.0,2011/10/01 07:39:38.875
4,173688,W_Completeren aanvraag-START,NaN,2011/10/01 18:36:46.437
...,...,...,...,...
262195,214376,A_PARTLYSUBMITTED-COMPLETE,112.0,2012/03/01 07:51:17.423
262196,214376,W_Afhandelen leads-SCHEDULE,112.0,2012/03/01 07:52:01.287
262197,214376,W_Afhandelen leads-START,11169.0,2012/03/01 17:26:46.736
262198,214376,A_DECLINED-COMPLETE,11169.0,2012/03/01 17:27:37.118
262199,214376,W_Afhandelen leads-COMPLETE,11169.0,2012/03/01 17:27:41.325

In [6]:
# divide train and test set for decision tree
df_train = df[['Case ID', 'Activity', 'Resource', 'Complete Timestamp']]
df_test = df['label']

In [16]:
df_train = pd.get_dummies(data = df_train, columns = ['Activity'], prefix = 'Activity')

In [20]:
df_train['Complete Timestamp'] = pd.to_datetime(df_train['Complete Timestamp'], format='%Y/%m/%d %H:%M:%S.%f')

In [25]:
# datetime to float to DT
df_train['Complete Timestamp'] = (df_train['Complete Timestamp'] - df_train['Complete Timestamp'].min()) / np.timedelta64(1,'D')
df_train

,Case ID,Resource,Complete Timestamp,Activity_A_ACCEPTED-COMPLETE,Activity_A_ACTIVATED-COMPLETE,Activity_A_APPROVED-COMPLETE,Activity_A_CANCELLED-COMPLETE,Activity_A_DECLINED-COMPLETE,Activity_A_FINALIZED-COMPLETE,Activity_A_PARTLYSUBMITTED-COMPLETE,...,Activity_W_Nabellen incomplete dossiers-COMPLETE,Activity_W_Nabellen incomplete dossiers-SCHEDULE,Activity_W_Nabellen incomplete dossiers-START,Activity_W_Nabellen offertes-COMPLETE,Activity_W_Nabellen offertes-SCHEDULE,Activity_W_Nabellen offertes-START,Activity_W_Valideren aanvraag-COMPLETE,Activity_W_Valideren aanvraag-SCHEDULE,Activity_W_Valideren aanvraag-START,Activity_W_Wijzigen contractgegevens-SCHEDULE
0,173688,112.0,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,173688,112.0,0.000004,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,173688,112.0,0.000618,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,173688,112.0,0.000629,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,173688,NaN,0.456966,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262195,214376,112.0,152.008714,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
262196,214376,112.0,152.009222,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262197,214376,11169.0,152.408359,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262198,214376,11169.0,152.408942,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
262199,214376,11169.0,152.408990,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# Remove NaN in input
df_train = df_train.fillna(0)

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

dt_clf = DecisionTreeClassifier(random_state=2023)

X_train, X_test, y_train, y_test = train_test_split(df_train, df_test, test_size=0.2, random_state=11)

In [30]:
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2023)

In [33]:
from sklearn.tree import export_graphviz
# export_graphviz( )의 호출 결과로 out_file로 지정된 tree.dot 파일을 생성함
export_graphviz(dt_clf, out_file="tree.dot",impurity=True, filled=True)

import graphviz
# 위에서 생성된 tree.dot 파일을 Graphiviz 가 읽어서 시각화
with open("tree.dot") as f:
    dot_graph = f.read()
graphviz.Source(dot_graph)

ModuleNotFoundError: No module named 'graphviz'

# Aggregated Encoding

In [35]:
#empty_df
list_row = pd.unique(df['Case ID'])
list_col = pd.unique(df['Resource'])

empty_df = pd.DataFrame(index=list_row, columns=list_col)
empty_df = empty_df.fillna(0)

for _, row in df.iterrows():
    empty_df.loc[row['Case ID'], row['Resource']] += 1

agg = empty_df

#time_mean
df['Complete Timestamp'] = pd.to_datetime(df['Complete Timestamp'], format='%Y/%m/%d %H:%M:%S.%f')
time_mean = df.groupby(['Case ID'])['Complete Timestamp'].mean().to_frame()

#join
result = pd.concat([agg, time_mean, empty_df], axis=1, join='inner')
result

,112.0,NaN,10862.0,10913.0,11049.0,10629.0,11120.0,10809.0,10912.0,11201.0,...,11269.0,10821.0,11289.0,10124.0,11299.0,11309.0,11300.0,11302.0,11319.0,11304.0
173688,4,5,5,2,4,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173691,4,12,5,0,4,0,4,10,0,0,...,0,0,0,0,0,0,0,0,0,0
173694,4,6,0,0,4,0,0,0,5,17,...,0,0,0,0,0,0,0,0,0,0
173697,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173700,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214364,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214367,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214370,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214373,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214376,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# 객체지향 코드로 바꾸기

class aggregated_encoding:
    """
    aggregated_encoding class
    Author : Yeonsu Kim
    Date : 2022.12.28
    Description : empty_df, time_mean, join
    """
    def __init__(self, df):
        self.df = df
        self.result = result

    def empty_df(self):
        list_row = pd.unique(df['Case ID'])
        list_col = pd.unique(df['Resource'])

        empty_df = pd.DataFrame(index=list_row, columns=list_col)
        empty_df = empty_df.fillna(0)

        for _, row in df.iterrows():
            empty_df.loc[row['Case ID'], row['Resource']] += 1

        agg = empty_df
        return agg

    def time_mean(self):
        df['Complete Timestamp'] = pd.to_datetime(df['Complete Timestamp'], format='%Y/%m/%d %H:%M:%S.%f')
        time_mean = df.groupby(['Case ID'])['Complete Timestamp'].mean().to_frame()
        return time_mean

    def join(self):
        result = pd.concat([agg, time_mean, empty_df], axis=1, join='inner')
        return result

    def __str__(self):
        return ''.format(self.result)

In [32]:
A = aggregated_encoding
A.empty_df(df)

,112.0,NaN,10862.0,10913.0,11049.0,10629.0,11120.0,10809.0,10912.0,11201.0,...,11269.0,10821.0,11289.0,10124.0,11299.0,11309.0,11300.0,11302.0,11319.0,11304.0
173688,4,5,5,2,4,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173691,4,12,5,0,4,0,4,10,0,0,...,0,0,0,0,0,0,0,0,0,0
173694,4,6,0,0,4,0,0,0,5,17,...,0,0,0,0,0,0,0,0,0,0
173697,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173700,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214364,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214367,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214370,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214373,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214376,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
A = aggregated_encoding
A.empty_df(df)
A.time_mean(df)
A.join(df)

                   Complete Timestamp
Case ID
173688  2011-10-06 09:44:45.718269184
173691  2011-10-05 13:15:29.379769344
173694  2011-10-18 03:47:58.488067584
173697  2011-10-01 15:11:21.440333312
173700  2011-10-01 15:15:53.677666560
...                               ...
214364  2012-03-03 11:11:22.169586176
214367  2012-03-01 07:28:54.751333376
214370  2012-03-01 12:28:12.680833280
214373  2012-03-02 22:40:05.200764672
214376  2012-03-01 12:39:26.781333248

[13087 rows x 1 columns]

,112.0,NaN,10862.0,10913.0,11049.0,10629.0,11120.0,10809.0,10912.0,11201.0,...,11269.0,10821.0,11289.0,10124.0,11299.0,11309.0,11300.0,11302.0,11319.0,11304.0
173688,4,5,5,2,4,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173691,4,12,5,0,4,0,4,10,0,0,...,0,0,0,0,0,0,0,0,0,0
173694,4,6,0,0,4,0,0,0,5,17,...,0,0,0,0,0,0,0,0,0,0
173697,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173700,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214364,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214367,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214370,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214373,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214376,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Index Based Encoding

# Genetic Algorithm

['Case ID', 'Activity', 'Resource', 'Complete Timestamp'] 이것들이 랜덤하게 mating, 선택되고
머신러닝에 들어갈 parameter를 GA로 만든다

In [ ]:
class GeneticAlgorithm(self):
    pass

Decision Tree
X_train, X_test, Y_train, Y_test

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [34]:
dt_clf = DecisionTreeClassifier(random_state=2023)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(df_train, df_test, test_size=0.2, random_state=11)

In [39]:
A.empty_df(X_train)

,112.0,NaN,10862.0,10913.0,11049.0,10629.0,11120.0,10809.0,10912.0,11201.0,...,11269.0,10821.0,11289.0,10124.0,11299.0,11309.0,11300.0,11302.0,11319.0,11304.0
173688,4,5,5,2,4,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173691,4,12,5,0,4,0,4,10,0,0,...,0,0,0,0,0,0,0,0,0,0
173694,4,6,0,0,4,0,0,0,5,17,...,0,0,0,0,0,0,0,0,0,0
173697,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173700,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214364,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214367,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214370,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214373,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214376,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
A.empty_df(y_train)

,112.0,NaN,10862.0,10913.0,11049.0,10629.0,11120.0,10809.0,10912.0,11201.0,...,11269.0,10821.0,11289.0,10124.0,11299.0,11309.0,11300.0,11302.0,11319.0,11304.0
173688,4,5,5,2,4,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173691,4,12,5,0,4,0,4,10,0,0,...,0,0,0,0,0,0,0,0,0,0
173694,4,6,0,0,4,0,0,0,5,17,...,0,0,0,0,0,0,0,0,0,0
173697,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173700,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214364,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214367,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214370,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214373,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214376,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
dt_clf.fit(X_train, y_train)

ValueError: could not convert string to float: 'W_Nabellen incomplete dossiers-START'